$color-blue: #0059ff;
$color-dark: #333;
$color-white: #fff;
$color-light-gray: #e2e2e2;
$width-image-article: 300px;
$height-image-article: 200px;

$width-tablet: 912px;
$width-mobile: 400px;
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  width: 99vw;
  overflow-x: hidden;
}
a {
  color: $color-dark;
}
button {
  outline: none;
  cursor: pointer;
}
%flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
%flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.container {
  @extend %flex;
  @extend %flex-column;
  align-items: center;
  margin-bottom: 20px;
  .more-btn {
    padding: 12px 30px;
    color: $color-dark;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid $color-light-gray;
    border-radius: 5px;
    position: relative;
    &:hover {
      color: $color-white;
      background-color: $color-dark;
      border-color: $color-dark;
    }
  }
}
.header {
  @extend %flex;
  @extend %flex-column;
  width: 90%;
  h1 {
    text-align: center;
    margin: 20px;
  }
  .categories {
    @extend %flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 50px;
    border-top: 1px solid $color-dark;
    border-bottom: 2px solid $color-dark;
    li {
      padding: 5px 10px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.content {
  @extend %flex;
  @extend %flex-column;
  position: relative;
  justify-content: center;
  width: 80%;
}

.article {
  @extend %flex;
  width: 80%;
  margin: 20px auto;
  padding: 20px 0;
  align-items: center;
  border-bottom: 1px solid $color-light-gray;
  @media screen and (max-width: $width-tablet) {
    flex-direction: column;
  }
  @media screen and (max-width: $width-mobile) {
    width: 100%;
  }
  .text {
    width: calc(100% - #{$width-image-article});
    margin-left: 20px;
    @media screen and (max-width: $width-tablet) {
      width: 100%;
      margin-left: 0;
    }
  }
  .right {
    text-align: right;
    font-style: italic;
  }
  .image {
    width: $width-image-article;
    height: $height-image-article;
    background: center no-repeat;
    background-size: cover;
  }
  h3, p {
    margin-top: 10px;
    text-align: justify;
  }
  p {
    text-indent: 0.5em;
  }
}

.scroll-btn {
  opacity: 0.5;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: 1px solid $color-dark;
  border-radius: 50%;
  &:hover {
    opacity: 1;
  }
}
.arrow-up {
  border: solid $color-dark;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

